.Headers{
    background-color: red;
    color: white;
    font-size: 32px;
    text-align: center;
    font-weight: bold;
}
#me-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}
.clicky{
    font-size: 28px;
    font-family: Helvetica, Times New Roman, sans-serif;
    border-radius: 17px;
    cursor: pointer;
    border: none;
    padding: 5px 15px;
    margin-top: 10px;
    display: block;
}
.clicky.one{
    background-color: black;
    color: azure;
}
.clicky.two{
    background-color: seagreen;

}
.clicky.three{
    background-color: rgb(255, 37, 37);
    color: white;
}
.clicky.three:hover {
    color: red;
    background-color: yellow;
}
.clicky.three:active{
    background-color: gray;
}


.odd{
    font-family: Verdana, DejaVu Sans, sans-serif;
    background-color: #d87093;
}
#eventwo{
    color: blue;
    font-size: 36px;
}
.odd.extra{
    font-size: 24px;
}
#evenfour,
#even-six{
    font-size: 40px;
    color: rgb(1, 133, 109);
    background-color: darksalmon;
    margin: 20px;
    border-style: double;
    border-color: mediumvioletred;
    border-width: 10px;
    

  
}