body {
  /* height: 100%;
  width: 100%; */
}
.container {
  margin: 0;
  padding: 0;
  height: 100vh;
  font-size: 1.2rem;
  font-weight: 300;
  letter-spacing: 0.05rem;
  color: rgb(31, 54, 82);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
  row-gap: 15px;
  vertical-align: middle;
}
.header,
.footer {
  background-color: antiquewhite;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  /* flex: 1 1 50%; */
}
p,
ul {
  padding: 1rem 1.5rem;
}
.header img {
  max-height: 60px;
  flex: 0 1 0%;
}
.images img {
  padding: 10px;
  /* max-width: 90%; */
  /* height: auto; */
  /* flex: 1 1 50%; */
  align-items: center;
  flex-wrap: nowrap;
}
.item1,
.item2 {
  flex: 0 1 10%;
  flex-wrap: nowrap;
}
